<nav class="flex items-center justify-between flex-wrap bg-cyan-500 p-6" style="background: linear-gradient(to bottom, #155e75, white);">
    <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
        <div class=" lg:flex-grow">
            <form action="/market" class="mx-4 block mt-4 lg:inline-block lg:mt-0 hover:text-gray-300 mr-4 text-xl">
                <input class="block mt-4 lg:inline-block lg:mt-0 text-black hover:text-gray-500 text-xl" type="submit" value="Market" />
            </form>
            <form action="/profile" class="mx-4 block mt-4 lg:inline-block lg:mt-0 hover:text-gray-300 mr-4 text-xl">
                <input class="block mt-4 lg:inline-block lg:mt-0 text-black hover:text-gray-500 text-xl" type="submit" value="Profile" />
            </form>
            <form action="/stockInventory" class="mx-4 block mt-4 lg:inline-block lg:mt-0 hover:text-gray-300 mr-4 text-xl">
                <input class="block mt-4 lg:inline-block lg:mt-0 text-black hover:text-gray-500 text-xl" type="submit" value="Stock inventory" />
            </form>
            <form action="/transactions" class="mx-4 block mt-4 lg:inline-block lg:mt-0 hover:text-gray-300 mr-4 text-xl">
                <input class="block mt-4 lg:inline-block lg:mt-0 text-black hover:text-gray-500 text-xl" type="submit" value="Transaction history" />
            </form>
        </div>


        <form method="post">
            <input type="hidden" name="logout" value="true" />
            <input class="inline-block text-sm text-xl px-4 py-2 leading-none border rounded text-black border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0" type="submit" value="Log out"/>
        </form>


    </div>
</nav>