<div content-center style="width:225px; margin:0 auto;">
    <div class="pt-2 mx-auto text-gray-600">
        <form method="GET" action="/market/btc" id="my-form">
            <input class="border-2 border-gray-300 bg-white h-10 px-5 pr-150 rounded-lg text-sm focus:outline-none"
                   type="text" name="search" placeholder="Search" id="my-search-field">
            <button type="submit" class="absolute right-0 top-0 mt-5 mr-4">
            </button>
        </form>
    </div>
</div>
<br>

<script>
    var form = document.getElementById('my-form');
    var searchField = document.getElementById('my-search-field');
    form.addEventListener('submit', function (event) {
        event.preventDefault();
        var searchTerm = searchField.value;
        if (searchTerm.trim() === '') {
            // Display an error message or do something else to indicate that the search field is empty
            return;
        }
        form.action = form.action.replace('btc', searchTerm);
        form.submit();
    });
</script>
